wp-admin
wp-includes
wp-content/plugins/woocommerce
wp-content/themes/storefront
wp-content/languages/

wp-activate.php
.htaccess
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-trackback.php
wp-signup.php
xmlrpc.php
readme.html
license.txt
index.php
wp-blog-header.php
wp-includes
wp-config-sample.php
wp-comments-post.php
